
    .addInput {
    font-size: 1em;
    color: #5c7e9d;
    height: 45px;
    background-color:transparent;
    width: 100%;
    border: none;
    border-bottom: 2px solid;
    border-bottom-color: grey;
  }
  .addInputReadonly {
    font-size: 0.7em;
    color: #5c7e9d;
    height: 45px;
    background-color:transparent;
    width: 100%;
    border: none;
    border-bottom: 2px solid;
    border-bottom-color: grey;
  }
  
  .addInput::-webkit-input-placeholder { /* WebKit browsers */
    font-size: 0.7em;
    color: 'rgb(92, 126, 156, 0.3)';
  }


  .browserButton {
    -moz-box-shadow:inset -1px 0px 14px -3px #f2fadc;
    -webkit-box-shadow:inset -1px 0px 14px -3px #f2fadc;
    box-shadow:inset -1px 0px 14px -3px #f2fadc;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dbe6c4), color-stop(1, #9ba892));
    background:-moz-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
    background:-webkit-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
    background:-o-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
    background:-ms-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
    background:linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbe6c4', endColorstr='#9ba892',GradientType=0);
    background-color: rgb(119, 119, 119);
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #b2b8ad;
    display:inline-block;
    cursor:pointer;
    color:#757d6f;
    font-family:Arial;
    font-size:19px;
    font-weight:bold;
    padding:15px 15px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ced9bf;
  }

  .saveBtn {
    width: 150px;
  }
  .browserButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #9ba892), color-stop(1, #dbe6c4));
    background:-moz-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
    background:-webkit-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
    background:-o-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
    background:-ms-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
    background:linear-gradient(to bottom, #9ba892 5%, #dbe6c4 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9ba892', endColorstr='#dbe6c4',GradientType=0);
    background-color:#9ba892;
  }
  .browserButton:active {
    position:relative;
    top:1px;
  }
  
  .addButton {
    background-color: #5c7e9d;
    
    border: none;
    color: white;
    vertical-align: center;
    height: 46px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    margin: 4px 2px;
    -webkit-appearance: none;
    border-radius: 22px;
  }

  .addButton {
  content: ' ';
  display: inline-block;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"  viewBox="0 0 20 20"><path fill="white" d="M7.197,16.963H7.195c-0.204,0-0.399-0.083-0.544-0.227l-6.039-6.082c-0.3-0.302-0.297-0.788,0.003-1.087 C0.919,9.266,1.404,9.269,1.702,9.57l5.495,5.536L18.221,4.083c0.301-0.301,0.787-0.301,1.087,0c0.301,0.3,0.301,0.787,0,1.087 L7.741,16.738C7.596,16.882,7.401,16.963,7.197,16.963z"></path></svg>');
  background-repeat: no-repeat; 
  background-position: left center;
  background-position-x: 10px;

  }

  .image-icon {
    display: inline-block;
    margin-top: 2px;
}

.image-icon:before {
    content: ' ';
    display: inline-block;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 20 20"><path fill="5c7e9d" d="M18.555,15.354V4.592c0-0.248-0.202-0.451-0.45-0.451H1.888c-0.248,0-0.451,0.203-0.451,0.451v10.808c0,0.559,0.751,0.451,0.451,0.451h16.217h0.005C18.793,15.851,18.478,14.814,18.555,15.354 M2.8,14.949l4.944-6.464l4.144,5.419c0.003,0.003,0.003,0.003,0.003,0.005l0.797,1.04H2.8z M13.822,14.949l-1.006-1.317l1.689-2.218l2.688,3.535H13.822z M17.654,14.064l-2.791-3.666c-0.181-0.237-0.535-0.237-0.716,0l-1.899,2.493l-4.146-5.42c-0.18-0.237-0.536-0.237-0.716,0l-5.047,6.598V5.042h15.316V14.064z M12.474,6.393c-0.869,0-1.577,0.707-1.577,1.576s0.708,1.576,1.577,1.576s1.577-0.707,1.577-1.576S13.343,6.393,12.474,6.393 M12.474,8.645c-0.371,0-0.676-0.304-0.676-0.676s0.305-0.676,0.676-0.676c0.372,0,0.676,0.304,0.676,0.676S12.846,8.645,12.474,8.645"></path></svg>');
    width: 40px;
    height: 40px;

}

.title-icon {
    display: inline-block;
    margin-top: 2px;
}

.title-icon:before {
    content: ' ';
    display: inline-block;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 20 20"><path fill="5c7e9d" d="M18.303,4.742l-1.454-1.455c-0.171-0.171-0.475-0.171-0.646,0l-3.061,3.064H2.019c-0.251,0-0.457,0.205-0.457,0.456v9.578c0,0.251,0.206,0.456,0.457,0.456h13.683c0.252,0,0.457-0.205,0.457-0.456V7.533l2.144-2.146C18.481,5.208,18.483,4.917,18.303,4.742 M15.258,15.929H2.476V7.263h9.754L9.695,9.792c-0.057,0.057-0.101,0.13-0.119,0.212L9.18,11.36h-3.98c-0.251,0-0.457,0.205-0.457,0.456c0,0.253,0.205,0.456,0.457,0.456h4.336c0.023,0,0.899,0.02,1.498-0.127c0.312-0.077,0.55-0.137,0.55-0.137c0.08-0.018,0.155-0.059,0.212-0.118l3.463-3.443V15.929z M11.241,11.156l-1.078,0.267l0.267-1.076l6.097-6.091l0.808,0.808L11.241,11.156z"></path></svg>');
    width: 40px;
    height: 40px;
}

.movie-icon {
    display: inline-block;
    margin-top: 2px;
}

.movie-icon:before {
    content: ' ';
    display: inline-block;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 20 20"><path fill="5c7e9d" d="M18.175,4.142H1.951C1.703,4.142,1.5,4.344,1.5,4.592v10.816c0,0.247,0.203,0.45,0.451,0.45h16.224c0.247,0,0.45-0.203,0.45-0.45V4.592C18.625,4.344,18.422,4.142,18.175,4.142 M4.655,14.957H2.401v-1.803h2.253V14.957zM4.655,12.254H2.401v-1.803h2.253V12.254z M4.655,9.549H2.401V7.747h2.253V9.549z M4.655,6.846H2.401V5.043h2.253V6.846zM14.569,14.957H5.556V5.043h9.013V14.957z M17.724,14.957h-2.253v-1.803h2.253V14.957z M17.724,12.254h-2.253v-1.803h2.253V12.254zM17.724,9.549h-2.253V7.747h2.253V9.549z M17.724,6.846h-2.253V5.043h2.253V6.846z"></path></svg>');
    width: 40px;
    height: 40px;
}

.v-icon {
    display: inline-block;
}

.v-icon:before {
    content: ' ';
    display: inline-block;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 20 20"><path fill="green" d="M7.197,16.963H7.195c-0.204,0-0.399-0.083-0.544-0.227l-6.039-6.082c-0.3-0.302-0.297-0.788,0.003-1.087 C0.919,9.266,1.404,9.269,1.702,9.57l5.495,5.536L18.221,4.083c0.301-0.301,0.787-0.301,1.087,0c0.301,0.3,0.301,0.787,0,1.087 L7.741,16.738C7.596,16.882,7.401,16.963,7.197,16.963z"></path></svg>');
    width: 20px;
    height: 20px;
}

.x-icon {
    display: inline-block;
}

.x-icon:before {
    content: ' ';
    display: inline-block;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="red" d="M11.469,10l7.08-7.08c0.406-0.406,0.406-1.064,0-1.469c-0.406-0.406-1.063-0.406-1.469,0L10,8.53l-7.081-7.08 c-0.406-0.406-1.064-0.406-1.469,0c-0.406,0.406-0.406,1.063,0,1.469L8.531,10L1.45,17.081c-0.406,0.406-0.406,1.064,0,1.469 c0.203,0.203,0.469,0.304,0.735,0.304c0.266,0,0.531-0.101,0.735-0.304L10,11.469l7.08,7.081c0.203,0.203,0.469,0.304,0.735,0.304 c0.267,0,0.532-0.101,0.735-0.304c0.406-0.406,0.406-1.064,0-1.469L11.469,10z"></path></svg>');
    width: 20px;
    height: 20px;
}




